{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/quizes.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/quiz.css' %}"> -->
</head>
<body>
    
    <header >
        <nav><ul class="main-menu">
            {% block main_menu %}
            <li><a href="{% url 'products' %}">Продукты</a></li>
            <li><a href="{% url 'clients' %}">Клиенты</a></li>
            <li><a href="/client_products/">Добавить продукт клиенту</a></li>
            
            
            <li><a href="/admin/">Админка</a></li>
            
            {% if request.user.is_authenticated %}
            <li class="login-name">{{ user.username }}</li>
            <li><a href="/logout/">Выход</a></li>
            {% else %}
            <li><a href="{% url 'reg' %}">Регистрация</a> | <a href="{% url 'login' %}">Логин</a></li>
            {% endif%}          
            {% endblock %}
        </ul></nav> 
        
    </header>         
    
    <main>
        <section class="content">   
        
            <!-- {% block content_head %}

            {% endblock %} -->

            {% block content %}

            {% endblock %}
        
    </section>
    </main>  
     
</body>
</html>