{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квизы</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'quiz.css' %}">
</head>
<body>
    
    <header >Header
        <nav><ul class="main-menu">
            <li><a href="/clients/">Клиенты</a></li>
            <li><a href="/login/">логин</a></li>
            <li><a href="/reg/">регистрация</a></li>
            <li><a href="/admin/">Админка</a></li>
        </ul></nav> 
    </header>         
    
    <main>

        <section class="info">
            Section
            <h2>Это базовый шаблон</h2>
        </section>
        <section class="content">   
            Section
            <h2>Все остальные шаблоны загружаются внутри него</h2>
        
            {% block content %}

            {% endblock %}
        
    </section>
    </main>  
    
    <aside>Aside</aside>   
    
    <footer>Footer</footer> 
    

    
</body>
</html>