{% extends "base.html" %}

{% block content %}

<div class="clients">
    <h2>Клиенты</h2>
    <p class="add"><a href="{% url 'addclient' %}">Добавить</a></p>
    <div class="info">
        <div class="clients-cell">ID клиента</div>
        <div class="clients-cell">Имя клиента</div>      
        <div class="clients-cell">Фамилия клиента</div>      
        <div class="clients-cell">Возраст клиента</div>   
        <div class="clients-cell">Фото</div>   
    </div>
    {% for client in clients %}
    <div class="info">   
            <div class="clients-cell"><a href="{{ client.get_absolute_url }}">{{forloop.counter}}</a></div>
            <div class="clients-cell">{{client.last_name}}</div>
            <div class="clients-cell"> {{client.first_name}}</div>
            <div class="clients-cell"> {{client.age}}</div>
            <div class="clients-cell">
            {% if client.photo %}
            <img class="img-client thumb" src="{{client.photo.url}}">
            {% endif %}   
            </div>              
    </div>
    {% endfor %}

</div>
{% endblock %}

