<style>
    

.row div{
    border: 1px solid black;
    border-collapse: collapse;
    }

.hrow{
    font-size: 125%;
    border-collapse: collapse;
    }

    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .wrapper div{
        border: 1px solid;
        border-collapse: collapse;
    }
    button{
        height: 100%;
    }
</style>

{% extends "base.html" %}

{% block content %}
<h2>Клиенты</h2>
<div class="start_form quizes_form">
    <div class="row hrow">
        <!-- <div>ID клиента</div> -->
        <div>Имя клиента</div>      
        <div>Фамилия клиента</div>      
        <div>Возраст клиента</div>      
    </div>
    {% for client in clients %}
        <div class="row">   
                <!-- <div>{{client.id}}</div> -->
                <div>{{client.last_name}}</div>
                <div>{{client.first_name}}</div>
                <div>{{client.age}}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}

