
<style>

    .row{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }


    .row div{
    border: 1px solid black;
    border-collapse: collapse;
    }

    .hrow{
    font-size: 125%;
    border-collapse: collapse;
    }

</style>

{% extends "base.html" %}

{% block content %}


<h1>Index</h1>
{% if not selected_client %}
<form method="post">
    {% csrf_token %}
    <select name="client">
         {% for client in clients %}
             <option
              value="{{ client }}"
              {% if selected_client == client %}
                  selected="selected"
              {% endif %}
             >{{ client }}</option>
         {% endfor %}
    </select>
        <input type="submit" value="Select">
</form>
{% endif %}
{% if selected_client %}
  <fieldset>
    <legend>Клиент: {{ selected_client.last_name }} {{ selected_client.first_name }}</legend>
  <p> Продукты клиента:
    {% for product in client.products.all %}
        {{ product }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
</fieldset>
  <p>
    Доступные продукты:
  </p>
  <form method="post">
    {% csrf_token %}
    <select name="product">
         {% for product in products %}
             <option
              value="{{ product }}"
              {% if selected_client == product %}
                  selected="selected"
              {% endif %}
             >{{ product }}</option>
         {% endfor %}
    </select>
        <input type="submit" value="Select">
</form>


{% endif %}





{% endblock %}

