<style>

    .row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }


    .row div{
    border: 1px solid black;
    border-collapse: collapse;
    }

    .hrow{
    font-size: 125%;
    border-collapse: collapse;
    }

    .wrapper div{
        text-align: center;
        border: 1px solid;
        border-collapse: collapse;
    }
    button{
        height: 100%;
    }
</style>

{% extends "base.html" %}

{% block content %}
<h2>Продукты</h2>
<div class="start_form quizes_form">
    <div><a href="{% url 'addproduct' %}">Добавить</a></div>
    <div class="row hrow">
        <div>ID продукта</div>
        <div>Название продукта</div>      
        <div>Вид продукта</div>      
        <div>Фото</div>   
    </div>
    {% for product in products %}
        <div class="row">   
                <div><a href="{{ product.get_absolute_url }}">{{forloop.counter}}</a></div>
                <div>{{product.name}}</div>
                <div>{{product.kind_product}}</div>
                <div>
                {% if product.photo %}
                <img class="img-client thumb" src="{{product.photo.url}}">
                {% endif %}   
                </div>              
        </div>
    {% endfor %}   
</div>
{% endblock %}

