
{% extends "base.html" %}

{% block title %} Продукт {% endblock %}
{% block content_head %}
    <h2>Продукт</h2>
{% endblock %}
{% block content %}
<!-- <h2>Продукт</h2> -->
<div class="st-info">
    <div class="photo">
        <img class="st-photo" src="{{product.photo.url}}" alt="Нет фото">
    </div>
    <div class="info">
    <p>Тип продукта:  {{product.kind_product}}</p>
    <p>Название продукта:  {{product.name}}</p>
    <!-- <div> {% if product.photo %}</div>
    {% endif %} -->
    </div>
</div>
{% endblock %}

