
{% extends "base.html" %}

{% block content %}

<h2>Квизы</h2>
<p class="add_quiz"><a href="#add_quiz"><button><img src="/static/ico/add.ico"></button></a></p>

<div class="start_form quizes_form">
    <div class="row hrow">
        <div>Quiz ID</div>
        <div>Quiz Name</div>
        <div>User ID</div>
        <div>Count questions</div>     
    </div>
    {%for quiz in quizes %}
        <div class="row">            
                <div>{{quiz.id}}</div>
                <div>{{quiz.name}}</div>
                <div>{{quiz.user_id}}</div>
                <div>{{ quiz.question| list | length}}</div>
                <!-- <form action="/edit_quiz/"> -->
                <form method="GET" action="/edit_quiz/">
                    <button type="submit" name="quiz_id" value={{quiz.id}}>
                        <image src="/static/ico/edit.ico"/>
                    </button>
                </form>              
                <form onsubmit="return confirm('Удалить Квиз?')" method="POST" action="/delete_quiz/?quiz_id={{quiz.id}}">
                    <button type="submit" name="quiz_id" value={{quiz.id}}>
                        <image src="/static/ico/delete.ico"/>
                    </button>
                </form>
        </div>
    {% endfor %}
</div>


<!-- Модальное окно-->
<div id="add_quiz" class="modal" aria-hidden="true">
    <div class="modal-header">
        <p><a href="#close" title="Close" class="close"><button><img src="/static/png/close.png"></button></a></p>
    </div>
    <div class="modal-body">    
        <fieldset>
            <legend  align="center">Добавить КВИЗ</legend>
            <div class="form_conrainer">
                <form action="/add_quiz" method="post" enctype="multipart/form-data">
                        <input type="text"  name="quiz_name">
                        <input type="submit" value="Отправить">           
                </form>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}